# Dependencies
/vendor/
composer.lock

# Testing
tests/coverage/
tests/coverage.xml
tests/junit.xml
.phpunit.result.cache

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Laravel
.env
.env.backup
.env.production
storage/
bootstrap/cache/

